.body-login{
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("/images/fondo login.jpg");
    background-size: cover;
    background-position: center;
    opacity: 1;
    margin:0
}
.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: rgba(0, 0, 0, 0.8);
    height: 50%;
   padding:10px;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
  
}
.form-login h1{
    text-align: center;
}
.email{
    display: flex;
}
.email input{
    margin: 1rem;
}
.email button{
    margin: 1rem
}