.body-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    border: 1px solid black

}
.products{
    display: flex;
    flex-direction: column;
  align-items: center;
    width: 250px;
    height: 270px;
    margin :10px;
    border: 1px solid rgb(4, 4, 4);
}
.products h6{
    margin: 10px;
}
@media screen and (max-width:600px){
    .products{
        width: 150px;
        height: 200px;
    }
    
}
.products img{
    width: 10vw;
    height: 10vw;
}
.body-pagination{
    display: flex;
    justify-content: center;

    width:100%;
}
.pagination{
    display: flex;
    justify-content: center;
    width: 100%;
 
}
.filter{
    display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
   
}